body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #fff5f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fededd;
  color: #333;
  padding: 20px 0;
}

.moods {
  margin: 30px 0;
}

button {
  background-color: #e0f2fc;
  border: none;
  margin: 10px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #9cd5f6;
}

.track-card p {
  font-size: 14px;
  margin: 8px 0;
  color: #333;
}

.track-description {
  margin-top: 8px;
  font-size: 13px;
  color: #666;
  line-height: 1.5;
}

.main-track {
  background-color: #fff0f6;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.main-track::before {
  content: "❤️";
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
}
